!!! 5
%html
%head
	%title OrgChaos
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
	= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'
	= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css'
	= csrf_meta_tags 
%body
	.layer1{ :style => "position:absolute; z-index:100; width:100%; height:100%; overflow:hidden; background:url('/sample.jpg');" }
	.layer2{ :style => "position:abosoute; z-index:200" }
		/ layer 2 items (place holder??)
	.layer3.container{ :style => "position:absolute; z-index:300" }
		/ actual clickable contents
		.row
			= yield
	= javascript_include_tag 'application', 'data-turbolinks-track' => true 
	= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'
